<a href="https://colab.research.google.com/github/vinay-shinde/Python-Basics/blob/main/Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. What exactly is []?

- The empty list represented by [] is a list that contains no items. 

- [  ] if it contain values then it is used to store list values of same or different datatypes

# 2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [1]:
spam =  [2, 4, 6, 8, 10]
print(spam)       #printing original spam list
spam[2]="hello"   #"adding "hello" string to the 'spam' list
print(spam)       #printing updated spam list

[2, 4, 6, 8, 10]
[2, 4, 'hello', 8, 10]

#Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

#  3. What is the value of spam[int(int('3' * 2) / 11)]?


Here '3' is a string and int('3'*2) will give int 33, and int(33/11) will give output 3.

And spam[3] will give output as 'd'(at 3rd index value).

In [9]:
spam=['a','b','c','d']
print(spam[int(int('3'*2)/11)])

d

#4. What is the value of spam[-1]?

 spam = ['a', 'b', 'c', 'd'] 

         -4   -3   -2   -1

 Hence spam[-1] will give output as 'd'.

In [10]:
spam[-1]

'd'

# 5. What is the value of spam[:2]?

It will include index values from 0 ('a') and 1 ('a'), and will exclude index value 2.

Hencse spam[:2] will give ['a', 'b'].

In [11]:
spam[:2]

['a', 'b']

# Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.

#6. What is the value of bacon.index('cat')?

Ans-> bacon.index('cat') => 1 (first instance of 'cat')

In [14]:
bacon = [3.14, 'cat', 11, 'cat', True]

bacon.index('cat')

1

#7. How does bacon.append(99) change the look of the list value in bacon?

It will add 99 in the list at last.

bacon=[3.14, 'cat,' 11, 'cat,' True, 99]

In [15]:
bacon.append(99) 
bacon

[3.14, 'cat', 11, 'cat', True, 99]

#8. How does bacon.remove('cat') change the look of the list in bacon?

It will remove the 'cat' (first occurance) value from the list.

bacon=[3.14,' 11, True, 99]

#9. What are the list concatenation and list replication operators?

- The operator for list concatenation is + .

- Operator for replication is *.

In [20]:
#Example

A=[1, 2, 3, 4]
B=['a', 'b', 'c']

print(A+B)
print(B*2)

[1, 2, 3, 4, 'a', 'b', 'c']
['a', 'b', 'c', 'a', 'b', 'c']

# 10. What is difference between the list methods append() and insert()?

- append() will add values only to the end of a list 

- insert() can add them anywhere in the list.

In [21]:
print(A)
A.append("Appended Value")
A.insert(3,"Inserted Vale") #at 3rd index
print(A)

[1, 2, 3, 4]
[1, 2, 3, 'Inserted Vale', 4, 'Appended Value']

# 11. What are the two methods for removing items from a list?

- remove(Actual Value that is to be reomved)

- pop(Index Value that is to be reomved)

In [25]:
print(A)

A.remove(4)   # Remove '4' value from the list.
A.pop(0)      # Remove 0th index value from the list.
print(A)

[1, 2, 4, 'Appended Value']
[2, 'Appended Value']

# 12. Describe how list values and string values are identical.

Both lists and strings can be: 
- passed to len() function. 
- Have indexes and slices.
- Used in for loops.
- Can be concatenated(+) or replicated(*)
- Used with the in and not in operators.

# 13. What's the difference between tuples and lists?

Lists are:
- Mutable, Indexable and Slicable. 
- They can have values added, removed, or changed. 
- lists use the square brackets, [].

Tuples are:
- Immutable but Indexable and Slicable. 
- Tuple values cannot be changed at all.
- Tuples are represented using parentheses, ().

# 14. How do you type a tuple value that only contains the integer 42?

Ans: (42,)

# 15. How do you get a list value's tuple form? How do you get a tuple value's list form?

 The tuple() and list() functions, respectively are used to convert a list to tuple and vice versa

#16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

They contain references to list values.

# 17. How do you distinguish between copy.copy() and copy.deepcopy()?

- The copy.copy() function will do a shallow copy of a list.
- The copy.deepcopy() function will do a deep copy of a list. That is, only copy.deepcopy() will duplicate any lists inside the list.